html, body{
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
}
li a {
    color: white;
}
@font-face {
    font-family: Poppins;
    src: url("../plugins/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: Poppins-Thin;
    src: url("../plugins/fonts/Poppins-Thin.ttf");
}
@font-face {
    font-family: Biko-Black;
    src: url("../plugins/fonts/Biko_Black.otf");
}
@font-face {
    font-family: Poppins-Light;
    src: url("../plugins/fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: Poppins-Bold;
    src: url("../plugins/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: Poppins-Black;
    src: url("../plugins/fonts/Poppins-Black.ttf");
}
[class^=arr-]{
    border:       solid currentColor;
    border-width: 0 .2em .2em 0;
    display:      inline-block;
    padding:      .20em;
  }
  .arr-right {transform:rotate(-45deg);}
  .arr-left  {transform:rotate(135deg);}
  .arr-up    {transform:rotate(-135deg);}
  .arr-down  {transform:rotate(45deg);}
.arrow {
    background: #29D197;
    height: 1px;
    width: 15px;
    float: left;
    position: relative;
    cursor: pointer;
}
.arrow::before,
.arrow::after {
    z-index: 10;
    content: "";
    background: #29D197;
    position: absolute;
    height: 1px;
    width: 7px;
}
.arrow::before {
    right: -1px;
    bottom: -2px;
    transform: rotate(-45deg);
}
.arrow::after {
    right: -1px;
    top: -2px;
    transform: rotate(45deg);
}
.btn-full {
    position: relative;
    border: none;
    background: #29D197;
    height: 60px;
    width: 227px;
    font-family: Poppins;
    font-size: 13px;
    text-align: center;
    font-weight: 900;
    color: white;
    border-radius: 30px;
}
.btn-line {
    border-color: #29d196;
    position: relative;
    background: none;
    border-style: solid;
    height: 60px;
    width: 227px;
    font-family: Poppins;
    font-size: 13px;
    text-align: center;
    font-weight: 900;
    color: white;
    border-radius: 30px;
}
.green {
    color: #29d196;
}
.wrapper{
    position: relative;
}
.btn-blue {
    width: 198px;
    height: 62px;
    margin-top: 20px;
    background-color: #1A265C;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
/*===================================================================== */
/* HEADER */
/*===================================================================== */
.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 880px;
    background-image: url("../images/banner_layout.png"), url("../images/banner.png");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: scroll;
}
/*============ */
/* HEADER CONTENT */
/*============ */
.header-content {
    padding-top: 7%;
    width: 100%;
    position: absolute;    
}
.header-content__text, .header-content__btn {
    padding: 0 20%;
}
.header-content__text p {
    font-family: Poppins-Bold;
    text-align: right;
    color: white;
    font-size: 54px;
    font-weight: 900;
    line-height: 0.2;
}
.header-content__text span{
    color: #29D197;
    font-family: Poppins-Thin;
}
.header-content__btn {
    text-align: right;
    padding-top: 5px;
    position: relative;
}
.header-content__btn button {
    letter-spacing: 1px;
    margin-left: 5px;
}
/*============ */
/* HEADER CONTACT */
/*============ */
.header-top{
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 39px 300px 31px 300px;
}
/* HEADER CONTAINER LEFT */
.header-top__left{
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}
.header-top__left__list {
    transform: translateX(-22px);
    margin: 0;
    padding: 0;
}
.header-top__left__list li {
    padding: 8px 21px;
    list-style-type: none;
    display: inline;
    color: white;
    font-family: Poppins;
    font-size: 14px;
}
.header-top__left__list li > i {
    color: #29D197;
    font-size: 14px !important; 
}
/* HEADER CONTACT RIGHT */
.header-top__right {
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    vertical-align: middle;
}
.header-top__right__item {
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: rgb(251, 251, 251, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}
.header-top__right__item i{
    font-size: 13px;
    color: #DDDDDD;
}
.header-top__right__text {
    float: left;
    font-family: Poppins;
    font-size: 14px;
    color: #29D197;
    padding-right: 21px;
}
/*============ */
/* HEADER MENU */
/*============ */
#toggle {
    display: none;
    background: #353b48;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.header-menu {
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 300px;
}
.header-menu__logo {
    display: flex;
    align-items: center;
    color: white;
    font-family: Biko-Black;
    font-weight: 900;
    font-size: 40px;
}
.header-menu__list {
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.header-menu__content {
    display: flex;
    align-items: center;
    transform: translateX(28px);
    top: 0;
    left: 0;
}
.header-menu__content__list li {
    align-items: center;
    list-style-type: none;
    padding: 0 26px;
    display: inline;
    color: white;
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
}
.header-menu__btn {
    display: flex;
    align-items: center;
}
.header-menu__btn__login {
    text-align: center;
}
/*===================================================================== */
/* CONTENT */
/*===================================================================== */
.content{
    width: 100%;
    height: auto;
    /* padding-top: 700px; */
    position: relative;
}
/* ACTIVITIES */
.content-activities{
    width: 100%;
    height: auto;
    transform: translateY(-120px);
}
.content-activities__list {
    height: 300px;
    width: 64%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.content-activities__list__item {
    background-color: white;
    height: 240px;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.content-activities__list__action {
    border: none;
    background-color: #D44BA2 !important;
    height: 240px;
    width: 20%;
    margin-top: 30px !important;
}
.content-activities__list__item span {
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
    color: black;
    font-weight: 500;
}
.content-activities__list__action span {
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: 500;
}
.content-activities__list__item::after {
    content: "";
    margin-top: 240px;
    width: 12.8%;
    height: 7px;
    position: absolute;
}
.content-activities__list__item::before {
    content: "";
    position: absolute;
    margin-top: 240px;
    width:41px;
    height:41px;
    z-index: -1;
    border-radius:50%;
}
.content-activities__list__item:nth-child(1)::after, .content-activities__list__item:nth-child(1)::before {
    background-color: #09C1CF;
}
.content-activities__list__item:nth-child(2)::after, .content-activities__list__item:nth-child(2)::before {
    background-color: #F04255;
}
.content-activities__list__item:nth-child(3)::after, .content-activities__list__item:nth-child(3)::before {
    background-color: #D44BA2;
}
.content-activities__list__item:nth-child(4)::after, .content-activities__list__item:nth-child(4)::before {
    background-color: #41BE84;
}
.content-activities__list__item:nth-child(5)::after, .content-activities__list__item:nth-child(5)::before {
    background-color: #EAB830
    ;
}
/* STUDY CONTENT */
/*============ */
/* content-studies */
/*============ */
.content-studies {
    width: 100%;
    background-image: url("../images/activities/background.png");
    background-repeat: no-repeat;
    background-size: auto 108%;
    font-family: Poppins;
    text-align: center;
    height: 939px;
    margin-top: -211px;
    background-position-x: -134%;
}
.content-studies__heading {
    padding-top: 200px;
}
.content-studies__heading__title {
    font-size: 45px;
    font-family: 'Poppins-Bold';
    line-height: 0;
}
.content-studies__heading__subtitle {
    font-size: 17px;
    font-family: 'Poppins';
    line-height: 1.8;
    letter-spacing: 0.5px;
    color: #666666;
}
.content-studies__heading__left {
    font-size: 20px;
    font-weight: 300;
    color: #666666;
}
.content-studies__list{
    margin-top: 45px;
    padding: 0 19%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
.content-studies__item {
    color: #343434;
    height: 150px;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    font-family: Poppins;
    text-align: center;
}
.content-studies__item__text {
    margin: 0 35px;
    display: flex;
    flex-direction: column;
}
.content-studies__item__text span {
    position: relative;
    margin-top: 10px;
}
.content-studies__item__text span:nth-child(1) {
    font-family: Poppins-Bold;
    font-size: 22px;
}
.content-studies__item__text span:nth-child(2) {
    font-size: 15px;
    line-height: 1.8;
    color: #707070;
}
.content-studies__item__text br {
    line-height: 40px;
}
.content-studies__item__icon {
    text-align: center;
    position: relative;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;    
}
.content-studies__item__i::before {
    content: "";
    position: absolute;
    margin-top: 160px;
    width: 21px;
    height: 21px;
    background-color: #F7CA18;
    border-radius: 50%;
    z-index: -1;
}
.content-studies__item__icon img {
    width: 70px;
    height: 70px;
}
.content-studies__right {
    text-align: left;
}
.content-studies__left {
    text-align: right;
}
/*============ */
/* content-forum */
/*============ */
.content-forum {
    width: 100%;
    height: 600px;
    color: white;
    font-family: Poppins;
    background-image: url("../images/banner01-1.png"), url("../images/banner01-2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.content-forum__bg {
    width: 100%;
}
.content-forum__bg img {
    width: 100%;
    height: auto;
    margin: 0;
    position: absolute;
}
/* content-forum CONTAINER */
.content-forum__container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 19.5%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: absolute;
}
/* content-forum CONTAINER LEFT */
.content-forum__left {
    box-sizing: border-box;
    width: auto;
    height: auto;
    transform: translateY(-20%);
    position: relative;
}
.content-forum__left__sub {
    line-height: 1;
    font-size: 20px;
    font-weight: 200;
}
.content-forum__left__title {
    line-height: 0.3;
    font-size: 45px;
    font-weight: 500;
}
/* content-forum CONTAINER RIGHT */
.content-forum__right {
    margin-top: 100px;
    box-sizing: border-box;
    position: relative;
    height: 466px;
    width: 470px;
}
.content-forum__right__form {
    box-shadow: 0 3.5px 6px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    /* position: absolute; */
    height: 417px;
    width: 470px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding-top: 60px;
    text-align: center;
}
.content-forum__right__form input {
    width: 370px;
    height: 56px;
    background-color: #FAFAFA;
    border-radius: 30px;
    margin-top: 11px;
    border: none;
    padding-left: 10%;
    font-size: 13px;
}
.content-forum__right__time {
    align-items: center;
    width: 384px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-48px);
}
.content-forum__right__time div {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: none;
    background-color: #29D197;
    font-size: 14px; 
    line-height: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
}
.content-forum__right__time div span {
    font-weight: 700;
    font-size: 25px;
}
/*============ */
/* content-courses */
/*============ */
.content-courses {
    width: 100%;
    text-align: center;
}
/* content-courses HEADER */
.content-courses__header {
    font-family: Poppins;
    width: 100%;
    text-align: center;
    line-height: 0;
}
.content-courses__header__title {
    font-size: 45px;
    font-weight: 700;
}
.content-courses__header__sub {
    font-size: 20px;
    font-weight: 400;
}
.content-courses__header__left {
    font-size: 16px;
    font-weight: 400;
    color: #888888;
}
.content-courses__header__line {
    margin: 50px 0px 20px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.content-courses__header__line__left, .content-courses__header__line__right {
    margin: 0 1px;
    display: flex;
    align-items: center;
    border:none;
    border-top: #E3E3E3 1.5px dashed;
    height: 1px;
    width: 74px;
}
.content-courses__header__line__left {
    justify-content: right;
}
.content-courses__header__line__right {
    justify-content: left;
}
.content-courses__header__line__left::before, .content-courses__header__line__right::before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #E3E3E3;
    position: absolute;
}
/* content-courses menu */
.content-courses__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-courses__menu__list li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
    display: inline;
    color: black;
    font-family: Poppins;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    padding: 10px 30px;
    margin: 0 15px;
}
.content-courses__menu__list__main {
    border: #343434 solid 2px;
    border-radius: 30px;
}
.content-courses__menu__list li:hover {
    background-color: #29D197;
    border-radius: 30px;
    border: none;
    color: white;
}
/* content-courses LIST */
.content-courses__list {
    display: flex;
    justify-content: space-between;
    width: 63%;
    margin: 0 auto;
    transform: translateY(-28px);
    font-family: Poppins;
}
.content-courses__column {
    width: 100%;
    margin-left: 15px;
}
.courses-item {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    margin: 70px 10px;
    border-radius: 5px;
    /* margin-top: 70px;s */
    background-color: white;
    position: relative;
}
.content-courses__top {
    height: 529px;
    width: 95%;
}
.content-courses__bottom {
    height: 469px;
    width: 95%;
}
.courses-item__header{
    border-radius: 5px 5px 0 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.content-courses__top > .courses-item__header {
    height: 330px;
    width: 100%;
}
.content-courses__bottom > .courses-item__header {
    height: 270px;
    width: 100%;
}
.courses-item__envaluate {
    transform: translateY(-29px);
    display: flex;
    align-items: center;
    height: 58px;
    width: 317px;
    border-radius: 30px;
    background-color: white;
    margin-left: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.courses-item__envaluate > div {
    margin: 0 auto;
    align-items: center;
}
.courses-item__envaluate__price::after {
    margin-left: 20px;
    top: 0;
    content: "";
    height: 58px;
    width: 1px;
    background-color: #EBEBEB;
    position: absolute;
}
.courses-item__envaluate__viewer::after {
    margin-left: 20px;
    top: 0;
    content: "";
    height: 58px;
    width: 1px;
    background-color: #EBEBEB;
    position: absolute;
}
.courses-item__container {
    transform: translateY(-25px);
    width: 100%;
    text-align: left;  
    margin-left: 10%;
    font-size: 20px;
    font-weight: 700; 
}
.courses-item__rate {
    color: #F7CA18;
}
.courses-item__detail {
    float: left;
    margin-left: 10%;
}
.courses-item__detail button {
    transform: translateY(-10px); 
    height: 37px;
    width: 46px;
    background-color: white;
    border-radius: 5px;
    border: #F0F0F0 2px solid;
    color: #707070;
    text-align: center;
}
.courses-item__detail > button > .arrow {
    margin-left: 7px;
    background-color: #707070;
}
.courses-item__detail > button > .arrow::after, .courses-item__detail > button > .arrow::before {
    background-color: #707070;
}
.courses-item__detail button:hover {
    font-size: 14px;
    font-weight: 500;
    color: white;
    height: 48px;
    width: 184px;
    border-radius: 30px;
    background-color: #29D197;
    transform: translateY(-15px);    
}
.courses-item__detail button:hover > .arrow{
    margin-top: 7px;
    margin-left: 26px;
    background-color: white;
}
.courses-item__detail button:hover > .arrow::after,
.courses-item__detail button:hover > .arrow::before {
    background-color: white;
}
.courses-item__detail button:hover::after {
    content: "  More Details";
}
/*============ */
/* content subscribe */
/*============ */
.content-casses {
    font-family: Poppins;
    height: 900px;
    position: relative;
    background-image: url("../images/layer-cut.png");
    background-repeat: no-repeat;
    background-position-x: 140%;
    background-size: auto;
    padding-top: 70px;
}
.content-casses__header {
    margin: 10px 10%;
    width: 80%;
    height: 727px;
    justify-content: center;
    display: flex;
}
.content-casses__header > * {
    width: 500px;
}
.casses-header__subscribe__header {
    display: flex;
}
.casses-header__subscribe::after {
    content: "";
    height: 225px;
    width: 2px;
    position: absolute;
    border: none;
    border-right: #E3E3E3 3px dashed;
    transform: translate(551px, -308px);
}
.casses-header__subscribe__header__icon {
    margin-right: 50px;
    width: 80px;
    margin-top: 41px;
    height: 50px;
    background-image: url(../images/shape/shape1.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}
.casses-header__subscribe__header__description {
    margin-bottom: 30px;
}
.casses-header__subscribe__header__description h3 {
    font-size: 25px;
    margin-bottom: 15px;
}
.casses-header__subscribe__foot__form {
    width: 70%;
    margin: 10px auto;
}
.casses-header__subscribe__foot__form__input {
    width: 100%;
    height: 55px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid white;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 6%), 0 0px 10px 0 rgb(0 0 0 / 8%);

}
.casses-header__subscribe__foot button {
    margin: 20px auto;
    height: 55px;
    width: 230px;
    background-color: #29d197;
    color: white;
    border: 1px solid white;
    border-radius: 45px;
    display: block;
}
.casses-header__testimonials {
    transform: translate(176px, 0px);
    display: flex;
    position: relative;
}
.casses-header__image {
    width: 160px;
    height: 160px;
    background-image: url(../images/layer-circle.png);
    background-repeat: no-repeat;
    background-size: auto;
    transform: translate(112px, 33px);
}
.casses-header__image::before {
    position: absolute;
    content: "<";
    background-color: #29D197;
    color: white;
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    transform: translate(-9px, -22px);
    z-index: -1;
}
.casses-header__image::after {
    position: absolute;
    content: ">";
    background-color: black;
    color: white;
    line-height: 65px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    transform: translate(104px, 111px);
    z-index: -1;
}
.casses-header__image__icon {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url(../images/layer-icon.png);
    background-repeat: no-repeat;
    background-size: auto;
    transform: translate(110px, 53px);
}
.casses-header__testimonials__name {
    position: relative;
    padding-left: 20px;
}
.casses-header__testimonials__content {
    padding-right: 100px;
}
  
.casses-header__testimonials__content h3 {
    font-size: 30px;
    margin-bottom: 15px;
}
.casses-header__testimonials__name {
    margin-top: 30px;
}
.casses-header__testimonials__name h3 {
    color: #3fd4a0;
}
  
.casses-header__testimonials__name::before {
    content: " ";
    height: 60px;
    width: 3px;
    background-color: #3fd4a0;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 5px;
}
.content-casses__footer {
    width: 1170px;
    height: 480px;
    background-image: url("../images/layer-video02.png"), url("../images/layer-video01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 20px;
    right: 250px;
    position: absolute;
}
.casses-footer__icon {
    width: 90px;
    height: 110px;
    position: absolute;
    background-image: url(../images/shape/shape2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(571px, 153px);
}
.casses-footer__content {
    position: absolute;
    font-family: 'Poppins';
    color: white;
    top: 286px;
    font-size: 40px;
    text-align: center;
    transform: translate(359px, -10px);
}
/*----------------------------------------*/
.content-blog {
    font-family: Poppins;
    margin-bottom: 100px;
    text-align: center;
}
.content-blog__list {
    display: flex;
    justify-content: space-between;
    width: 1135px;
    margin: 20px auto;
}
.content-blog__list__content {
    position: relative;
    width: 370px;
}
.content-blog__list__content__image {
    height: 240px;
    width: 370px;
    background-repeat: no-repeat;
    background-size: auto;
}
.content-blog__list__content__date {
    position: absolute;
    height: 45px;
    width: 180px;
    background-color: #29d197;
    text-align: center;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    line-height: 49px;
    right: 22px;
    top: 180px;
}
.content-blog__list__content__content {
    height: 218px;
    text-align: initial;
    padding-top: 30px;
    position: relative;
}
.content-blog__list__content__content::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 100px;
    border-bottom: 8px solid rgb(255, 255, 255);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.content-blog__list__content__author {
    margin-top: 20px;
}
.content-blog__list__content__author i {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 35px;
}
/*----------------------------------------*/
.content-statistical {
    height: 720px;
}
.content-statistical__description {
    height: 455px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: -25px;
    background-image: url("../images/layer-s02.png"), url("../images/layer-s01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
.content-statistical__description__left {
    color: white;
    width: 30%;
    margin: 20px;
}
.content-statistical__description__left h2 {
    font-family: Poppins;
    font-size: 38px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.content-statistical__description__left > span {
    font-family: Poppins-Light;
    font-weight: 200;
    font-size: 15px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.content-statistical__description__right {
    font-family: Poppins-Light;
    color: white;
    width: 30%;
    height: auto;
    display: flex;
    margin: 69px;
    flex-direction: column;
    transform: translateY(18%);
    letter-spacing: 2px;
}
.content-statistical__description__right > div {
    display: flex;
    align-items: center;
    padding: 10px;
}
.content-statistical__description__right .arrow {
    margin-right: 40px;
}
.content-statistical__data {
    display: flex;
    height: 270px;
    background-color: #29d197;
    color: white;
    justify-content: center;
    
}
.content-statistical__data__column {
    text-align: left;
    width: 17%;
    position: relative;
    line-height: 0;
    transform: translate(110px, 96px);
}
.content-statistical__data__column:not(:nth-child(1))::before {
    content: " ";
    height: 100px;
    width: 2px;
    background-color: white;
    display: inline-block;
    position: absolute;
    transform: translate(-100px, 7px);
}
.content-statistical__data__column p:nth-child(1) {
    font-family: Poppins-Bold;
    font-size: 44px;
}
.content-statistical__data__column p:nth-child(2) {
    font-family: Poppins-Light;
    font-size: 14px;
}
/*----------------------------------------*/
.content-popular {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}
.content-courses__list > .courses-item {
    margin: 0;
}
/*===================================================================== */
/* FOOTER */
/*===================================================================== */
.footer {
    position: absolute;
    height: 600px;
    width: 100%;
    background-image: url(../images/footer/layer-footer02.png), url(../images/footer/layer-footer01.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100% auto;
    z-index: -10;
}
.footer-description {
    height: 455px;
    position: relative;
    /* flex-wrap: nowrap; */
}
.footer-description__detail {
    width: 1172px;
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    color: white;
}
.footer-description__detail > * {
    width: 320px;
    padding-top: 5%;
}
.footer-description__detail h3 {
    font-family: Poppins;
    font-weight: 400;
    color: #29d197;
    font-size: 25px;
    margin-bottom: 30px;
}
.footer-description__detail p {
    font-family: Poppins-Light;
}
.list-contact {
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    vertical-align: middle;
}
.social-contact {
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: rgb(251, 251, 251, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}
.social-contact:hover {
    background-color: #29D197;
    color: white;
}
.social-contact i {
    font-size: 13px;
}
.footer-subscribe__mail {
    position: relative;
}
.footer-subscribe__mail > .arrow {
    transform: translate(277px, -25px);
}
.footer-input__mail {
    margin-top: 40px;
    border-radius: 60px;
    background-color: #1a265c00;
    border: 1px solid white;
    color: white;
    padding-left: 30px;
    height: 45px;
    width: 280px;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-contact__description {
    display: flex;
    align-items: center;
    height: 55px;
}
.footer-contact__description div {
    margin-right: 20px;
}
.footer-foot {
    background-color: #1a265c;
    height: 155px;
    position: relative;
}
.footer-list__image {
    position: absolute;
    display: flex;
    justify-content: space-around;
    transform: translate(85%, -50%);
}
.footer-image {
    width: 120px;
    height: 120px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: auto;
}
.copyright {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins';
}

/*================================================================*/
/*================================================================*/
@media screen and (max-width: 1900px) {
    .header-menu__content__list li {
        padding: 0 20px;
    }
    .content-activities {
        transform: translateY(-160px);
    }
}
@media screen and (max-width: 1800px) {
    .header-menu__content__list li {
        padding: 0 13px;
    }
    .content-activities {
        transform: translateY(-160px);
    }
}

@media screen and (max-width: 1700px) {
    .header-menu__content__list li {
        padding: 0 10px;
    }
    .content-activities {
        transform: translateY(-207px);
    }
    .header-content {
        padding-top: 4%;
    }
}

@media screen and (max-width: 1620px) {
    
    .header-top__left__list li {
        font-size: 10px;
    }
    .header-top__left__list li > i {
        font-size: 10px !important;
    }
    .header-menu__content__list li {
        padding: 0 14px;
    }
    .content-activities {
        transform: translateY(-109px);
    }
    .header-content {
        padding-top: 2%;
    }
    #toggle {
        font-size: 18px;
        border-radius: 10px;
        display: block;
    }
    .header-menu {
        padding: 0 30px 0 127px;
    }
    .header-menu__list {
        display: none;
    } 
}

@media screen and (max-width: 1300px) {
    .btn-full {
        height: 47px;
        width: 193px;
        font-size: 9px;
    }
    .btn-line {
        height: 47px;
        width: 193px;
        font-size: 9px;
    }
    /* .btn-blue {
        
    } */
    /*===================================================================== */
    /* HEADER */
    /*===================================================================== */
    .header {
        height: 550px;
        background-size: cover;
    }
    /*============ */
    /* HEADER CONTENT */
    /*============ */
    .header-content__text p {
        font-size: 23px;
    }
    .header-content__btn {
        display: flex;
    }
    /*============ */
    /* HEADER CONTACT */
    /*============ */
    .header-top{
        flex-direction: column;
        padding: 39px 30px 31px 30px;
    }
    /* HEADER CONTAINER LEFT */
    .header-top__left{
        align-self: flex-end;
    }
    .header-top__left__list {
        transform: translateX(0px);
    }
    .header-top__left__list li {
        padding: 19px 8px;
    }
    /* HEADER CONTACT RIGHT */
    .header-top__right {
        align-self: flex-end;
        margin-top: 34px;
    }
    /*============ */
    /* HEADER MENU */
    /*============ */
    #toggle {
        font-size: 18px;
        border-radius: 10px;
        display: block;
    }
    .header-menu {
        padding: 0 30px 0 127px;
    }
    .header-menu__list {
        display: none;
    } 
    /*===================================================================== */
    /* CONTENT */
    /*===================================================================== */
    /* ACTIVITIES */
    .content-activities__list {
        width: 100%;
    }
    .content-activities__list__item {
        height: 143px;
    }
    .content-activities__list__action {
        height: 143px;
    }
    .content-activities__list__item span {
        font-size: 10px;
    }
    .content-activities__list__action span {
        font-size: 10px;
    }
    .content-activities__list__item::after {
        margin-top: 143px;
        width: 20%;
    }
    .content-activities__list__item::before {
        margin-top: 143px;
        height: 27px;
        width: 27px;
    }
    /* STUDY CONTENT */
    /*============ */
    /* content-studies */
    /*============ */
    .content-studies {
        height: 1250px;
    }
    .content-studies__heading {
        padding-top: 57px;
    }
    .content-studies__heading__title {
        font-size: 28px;
    }
    .content-studies__heading__subtitle {
        font-size: 13px;
    }
    .content-studies__list{
        padding: 0;
        transform: translateX(0%);
        grid-template-rows: auto auto auto auto auto auto;
    }
    .content-studies__item {
        padding: 0;
        height: auto;
    }
    .content-studies__item__text {
        margin: 0 18px;
    }
    /*============ */
    /* content-forum */
    /*============ */
    .content-forum {
        height: 733px;
    }
    /* content-forum CONTAINER */
    .content-forum__container {
        padding: 40px 19.5%;
        flex-direction: column;
    }
    /* content-forum CONTAINER LEFT */
    .content-forum__left {
        transform: translateY(0);
    }
    .content-forum__left__title {
        font-size: 30px;
    }
    /*============ */
    /* content-courses */
    /*============ */
    /* content-courses menu */
    .content-courses__menu__list__main {
        border: #343434 solid 2px;
        border-radius: 30px;
    }
    .content-courses__menu__list li:hover {
        background-color: #29D197;
        border-radius: 30px;
        border: none;
        color: white;
    }
    /* content-courses LIST */
    .content-courses__list {
        width: 100%;
        flex-flow: column;
        margin: 0px 0px;
        transform: translateY(25px);
    }
    .courses-item {
        margin: 70px 0;
    }
    .content-courses__top {
        width: 75%;
    }
    .content-courses__bottom {
        width: 75%;
    }
    .content-courses__top > .courses-item__header {
        width: 68%;
    }
    /*============ */
    /* content subscribe */
    /*============ */
    .content-casses__header {
        margin: 0;
        flex-direction: column;
    }
    .casses-header__testimonials {
        transform: translate(0px, 0px);
    }
    .content-casses__footer {
        width: 100%;
        right: 0;
    }
    .casses-footer__icon {
        transform: translate(229px, 193px);
    }
    .casses-footer__content {
        transform: translate(0px, 0px);
    }
    /*----------------------------------------*/
    .content-blog__list {
        flex-direction: column;
        width: 100%;
    }
    .content-blog__list__content {
        width: 70%;
    }
    /*===================================================================== */
    /* FOOTER */
    /*===================================================================== */
    .footer-description__detail {
        flex-direction: column;
    }
    .footer-description__detail > * {
        width: 320px;
        padding-top: 5%;
    }
    .footer-list__image {
        transform: translate(0, 0);
    }
}