@media screen and (max-width: 1600px) {
    .btn-full {
        height: 47px;
        width: 193px;
        font-size: 9px;
    }
    .btn-line {
        height: 47px;
        width: 193px;
        font-size: 9px;
    }
    /* .btn-blue {
        
    } */
    /*===================================================================== */
    /* HEADER */
    /*===================================================================== */
    .header {
        height: 550px;
        background-size: auto 100%;
    }
    /*============ */
    /* HEADER CONTENT */
    /*============ */
    .header-content__text p {
        font-size: 23px;
    }
    .header-content__btn {
        display: flex;
    }
    /*============ */
    /* HEADER CONTACT */
    /*============ */
    .header-top{
        flex-direction: column;
        padding: 39px 30px 31px 30px;
    }
    /* HEADER CONTAINER LEFT */
    .header-top__left{
        align-self: flex-end;
    }
    .header-top__left__list {
        transform: translateX(0px);
    }
    .header-top__left__list li {
        padding: 19px 8px;
    }
    /* HEADER CONTACT RIGHT */
    .header-top__right {
        align-self: flex-end;
        margin-top: 34px;
    }
    /*============ */
    /* HEADER MENU */
    /*============ */
    #toggle {
        font-size: 18px;
        border-radius: 10px;
        display: block;
    }
    .header-menu {
        padding: 0 30px 0 127px;
    }
    .header-menu__list {
        display: none;
    } 
    /*===================================================================== */
    /* CONTENT */
    /*===================================================================== */
    /* ACTIVITIES */
    .content-activities__list {
        width: 100%;
    }
    .content-activities__list__item {
        height: 143px;
    }
    .content-activities__list__action {
        height: 143px;
    }
    .content-activities__list__item span {
        font-size: 10px;
    }
    .content-activities__list__action span {
        font-size: 10px;
    }
    .content-activities__list__item::after {
        margin-top: 143px;
        width: 20%;
    }
    .content-activities__list__item::before {
        margin-top: 143px;
        height: 27px;
        width: 27px;
    }
    /* STUDY CONTENT */
    /*============ */
    /* content-studies */
    /*============ */
    .content-studies {
        height: 1250px;
    }
    .content-studies__heading {
        padding-top: 57px;
    }
    .content-studies__heading__title {
        font-size: 28px;
    }
    .content-studies__heading__subtitle {
        font-size: 13px;
    }
    .content-studies__list{
        padding: 0;
        transform: translateX(0%);
        grid-template-rows: auto auto auto auto auto auto;
    }
    .content-studies__item {
        padding: 0;
        height: auto;
    }
    .content-studies__item__text {
        margin: 0 18px;
    }
    /*============ */
    /* content-forum */
    /*============ */
    .content-forum {
        height: 733px;
    }
    /* content-forum CONTAINER */
    .content-forum__container {
        padding: 40px 19.5%;
        flex-direction: column;
    }
    /* content-forum CONTAINER LEFT */
    .content-forum__left {
        transform: translateY(0);
    }
    .content-forum__left__title {
        font-size: 30px;
    }
    /*============ */
    /* content-courses */
    /*============ */
    /* content-courses menu */
    .content-courses__menu__list__main {
        border: #343434 solid 2px;
        border-radius: 30px;
    }
    .content-courses__menu__list li:hover {
        background-color: #29D197;
        border-radius: 30px;
        border: none;
        color: white;
    }
    /* content-courses LIST */
    .content-courses__list {
        width: 100%;
        flex-flow: column;
        margin: 0px 0px;
        transform: translateY(25px);
    }
    .courses-item {
        margin: 70px 0;
    }
    .content-courses__top {
        width: 75%;
    }
    .content-courses__bottom {
        width: 75%;
    }
    .content-courses__top > .courses-item__header {
        width: 68%;
    }
    /*============ */
    /* content subscribe */
    /*============ */
    .content-casses__header {
        margin: 0;
        flex-direction: column;
    }
    .casses-header__testimonials {
        transform: translate(0px, 0px);
    }
    .content-casses__footer {
        width: 100%;
        right: 0;
    }
    .casses-footer__icon {
        transform: translate(229px, 193px);
    }
    .casses-footer__content {
        transform: translate(0px, 0px);
    }
    /*----------------------------------------*/
    .content-blog__list {
        flex-direction: column;
        width: 100%;
    }
    .content-blog__list__content {
        width: 70%;
    }
    /*===================================================================== */
    /* FOOTER */
    /*===================================================================== */
    .footer-description__detail {
        flex-direction: column;
    }
    .footer-description__detail > * {
        width: 320px;
        padding-top: 5%;
    }
    .footer-list__image {
        transform: translate(0, 0);
    }
}